@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppings', sans-serif;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: #ceecbf7e;
	background-size: cover;
	background-position: center;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	width: 100%;
	position: sticky;
	top: 0;
	background: transparent;
	box-shadow: 0 10px 20px rgb(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	z-index: 999;
}
.navbar-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 2rem;
	max-width: 1600px;
}

.navbar-logo {
	font-size: 1.2rem;
	font-weight: 600;
	color: #395c1d;
	text-decoration: none;
	cursor: pointer;
}

.navbar-container .navbar-menu {
	display: flex;
	text-align: center;
	gap: 1.2rem;
	list-style: none;
}

.navbar-container .navbar-menu li a {
	text-decoration: none;
	color: #0d1308;
	font-size: 1rem;
	font-weight: 300;
	padding: 3px 20px;
	border-radius: 20px;
	border: 3px solid transparent;
	transition: all 0.7s ease;
	white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover {
color: #309127;
border: 2px solid #0d1308;
}


.container1{
	width: 100%;
	min-height: 110vh;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}

.form-box{
	width: 90%;
	max-width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 0px 60px 50px;
	text-align: left;
}



.form-box h1{
	font-size: 25px;
	margin-bottom: 40px;
	color: #0d1308;
	position: relative;
	text-align: center;
}

.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 40px;
  margin-bottom: 10px;
}


.form-box h1::after{
	content: '';
	width: 100px;
	height: 1px;
	border-radius: 3px;
	background: #3c00a0;
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
}

.input-field{
	background:  #d9fac3dc;
	margin: 15px 0;
	border-radius: 3px;
	display: flex;
	align-items: center;
	height: 45px;
}

input{
	width: 100%;
	background: transparent;
	border: 0;
	outline: 0;
	padding: 18px 15px;
}

.input-field i{
	margin-left: 15px;
}

.input-field select{
	margin-left: 15px;
	height: 30px;
}

.input-field select::after{
	color: black;
}


.input-field option{
	height: 10px;
}
.submit{
	width: 100%;
	display: flex;
	position: relative;
}

.submit button{
	flex-basis: 50%;
	background: #13630c;
	color: #ffffff;
	height: 40px;
	border-radius: 20px;
	outline: 0;
	cursor: pointer;
	transition: background 1s;


}

footer {
            background: #eee;
            padding: 10px;
            position: absolute;
            bottom: 0;      
            text-align: center;
}