@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppings', sans-serif;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: #ceecbf7e;
	background-size: cover;
	background-position: center;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1rem 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.header ::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(159, 160, 155, 0.233);
	backdrop-filter: blur(50px);
	z-index: -1;
}

.navbar-brand {
	font-size: 1rem;
	color: green;
	text-decoration: none;
	font-weight: 700;
}

.navbar a {
	font-size: 0.9rem;
	color: #0d1308;
	text-decoration: none;
	font-weight: 500;
	margin-left: 2.5rem;
}

#check {
	display: none;

}

.icons {
	position: absolute;
	right: 10%;
	font-size: 2.1rem;
	color: #0d1308;
	cursor: pointer;
	display: none;
}

/* BreakPoints */

@media (max-width: 992px){
	.header {
		padding: 1rem 5%;
	}
}

@media (max-width: 768px){
	.icons {
		display: block;
	}

	.icons #close-icon {
		display: none;
	}

	#check:checked~.icons #close-icon {
		display: inline-flex;
	}

	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 0;
		background: rgba(63, 201, 29, 0.144);
		backdrop-filter: blur(50px);
		box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, .1);
		overflow: hidden;
		transition: .3s ease;
	}

	#check:checked~.navbar {
		height: 10rem;
	}

	.navbar a {
		display: block;
		font-size: 0.8rem;
		margin: 1.2rem 0;
		text-align: center;
	}
}

.container1{
	width: 100%;
	min-height: 110vh;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}

.form-box{
	width: 90%;
	max-width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 0px 60px 50px;
	text-align: left;
}



.form-box h1{
	font-size: 25px;
	margin-bottom: 40px;
	color: #0d1308;
	position: relative;
	text-align: center;
}

.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 40px;
  margin-bottom: 10px;
}


.form-box h1::after{
	content: '';
	width: 100px;
	height: 1px;
	border-radius: 3px;
	background: #3c00a0;
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
}

.input-field{
	background:  #d9fac3dc;
	margin: 15px 0;
	border-radius: 3px;
	display: flex;
	align-items: center;
	height: 45px;
}

input{
	width: 100%;
	background: transparent;
	border: 0;
	outline: 0;
	padding: 18px 15px;
}

.input-field i{
	margin-left: 15px;
}

.input-field select{
	margin-left: 15px;
	height: 30px;
}

.input-field select::after{
	color: black;
}


.input-field option{
	height: 10px;
}
.submit{
	width: 100%;
	display: flex;
	position: relative;
}

.submit button{
	flex-basis: 50%;
	background: #13630c;
	color: #ffffff;
	height: 40px;
	border-radius: 20px;
	outline: 0;
	cursor: pointer;
	transition: background 1s;


}

footer {
            background: #eee;
            padding: 10px;
            position: absolute;
            bottom: 0;      
            text-align: center;
}